<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Антибиотики</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/user.css">
</head>
<body>
	<div class="form">
		<h1 class="title">
			Добро пожаловать
		</h1>

		<h1 class="title_username">
			<%= user.fio %>
		</h1>

		<a href="/logout" id="exit_link">Выйти из профиля</a>

		<div id="first_block">
			<div class="first_block-header">
				<h3 class="title_test">
					Ваша статистика
				</h3>
				<h3 class="title_no">
					№1
				</h3>
				<h3 class="title_no">
					№2
				</h3>
			</div>
			<div class="first_block_body">
				<div class="col">
					<h4 class="first_inf_title">
						Количество правильных ответов:
					</h4>
		
					<h4 class="first_inf_title">
						Процент правльных ответов:
					</h4>
		
					<h4 class="first_inf_title">
						Средняя оценка:
					</h4>
				</div>
				<div class="col">
					<p id="first_inf"><%if (tests[0]) {%><%= tests[0].trueAnswers %> <%} else {%><%= 0 %><%}%></p>
					<p id="first_inf"><%if (tests[0]) {%><%= Math.floor(tests[0].trueAnswers / 18 *100) %>% <%} else {%><%= 0 %><%}%></p>
					<p id="first_inf"><%if (tests[0]) {%><%= tests[0].ball %> <%} else {%><%= 0 %><%}%></p>
				</div>
				<div class="col">
					<p id="second_inf"><%if (tests[1]) {%><%= tests[1].trueAnswers %> <%} else {%><%= 0 %><%}%></p>
					<p id="second_inf"><%if (tests[1]) {%><%= Math.floor(tests[1].trueAnswers / 18 *100) %>% <%} else {%><%= 0 %><%}%></p>
					<p id="second_inf"><%if (tests[1]) {%><%= tests[1].ball %> <%} else {%><%= 0 %><%}%></p>
				</div>
			</div>
		</form>

		</div>

		<div id="second_block">
			<h3 class="title_test_2">
				Нажмите для прохождения тестирования
			</h3>

			<form id="form_2" action="" onsubmit="return false">
	<%if (tests.length < 1 && acc1) { %> 
		<button  id="form_button_2">
		<p id="input_text_button_2">
			<a href="/test">Начать</a>
		</p>
	<% } else if (tests.length < 2 && acc2) { %>
		<button  id="form_button_2">
			<p id="input_text_button_2">
				<a href="/test">Начать</a>
			</p>
			</button>
			<%} else {%>
				<p class="error"> Извините, доступ к тесту временно ограничен </p>
			<%}%>
		</form>

		</div>
	</div>

	<img src="../assets/imgs/right.jpg" alt="" id="rignt_image">
	<img src="../assets/imgs/left.jpg" alt="" id="left_image">

	<p id="last_text">by Vylkov Dmitriy and Doctor Maxin</p>

</body>
</html>
=======
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Антибиотики</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/user.css">
</head>
<body>
	<div class="form">
		<h1 class="title">
			Добро пожаловать
		</h1>

		<h1 class="title_username">
			<%= user.fio %>
		</h1>

		<a href="/logout" id="exit_link">Выйти из профиля</a>

		<div id="first_block">
			<h3 class="title_test">
				Ваша статистика
			</h3>
			<div class="par_title_no">
				<h3 class="title_no">
					№1
				</h3>
				<h3 class="title_no">
					№2
				</h3>
			</div>

			<h4 class="first_inf_title">
				Количество правильных ответов:
			</h4>

			<h4 class="first_inf_title">
				Процент правльных ответов:
			</h4>

			<h4 class="first_inf_title">
				Средняя оценка:
			</h4>

			<div class="num">
				<p id="first_inf"><%if (tests[0]) {%><%= tests[0].trueAnswers %> <%} else {%><%= 0 %><%}%></p>
				<p id="first_inf"><%if (tests[0]) {%><%= Math.floor(tests[0].trueAnswers / 18 *100) %>% <%} else {%><%= 0 %><%}%></p>
				<p id="first_inf"><%if (tests[0]) {%><%= tests[0].ball %> <%} else {%><%= 0 %><%}%></p>
				<p id="second_inf"><%if (tests[1]) {%><%= tests[1].trueAnswers %> <%} else {%><%= 0 %><%}%></p>
				<p id="second_inf"><%if (tests[1]) {%><%= Math.floor(tests[1].trueAnswers / 18 *100) %>% <%} else {%><%= 0 %><%}%></p>
				<p id="second_inf"><%if (tests[1]) {%><%= tests[1].ball %> <%} else {%><%= 0 %><%}%></p>
			</div>
		</form>

		</div>

		<div id="second_block">
			<h3 class="title_test_2">
				Нажмите для прохождения тестирования
			</h3>

			<form id="form_2" action="" onsubmit="return false">
	<%if (tests.length < 1 && acc1) { %> 
		<button  id="form_button_2">
		<p id="input_text_button_2">
			<a href="/test">Начать</a>
		</p>
	<% } else if (tests.length < 2 && acc2) { %>
		<button  id="form_button_2">
			<p id="input_text_button_2">
				<a href="/test">Начать</a>
			</p>
			</button>
			<%} else {%>
				<p class="error"> Извините, доступ к тесту временно ограничен </p>
			<%}%>
		</form>

		</div>
	</div>

	<img src="../assets/imgs/right.jpg" alt="" id="rignt_image">
	<img src="../assets/imgs/left.jpg" alt="" id="left_image">

	<p id="last_text">by Vylkov Dmitriy and Doctor Maxin</p>

</body>
</html>
>>>>>>> f3d932f99ec823c7d3bb701a6e6e93e6ec6486c5
